<tr>
  <td><%= author.family_name %></td>
  <td><%= author.first_name %></td>
  <td><%= author.books.first.title %></td>
  <td><%= author.books.first.price_with_tax %></td>
  <td><%= author.books.count %></td>
</tr>